.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    cursor: pointer;
    z-index: 2;
  }

.propre{
display:flex ;
margin: 70px;
  
img{
    
    width:40%;
    height: 60%;
  }
  .carac{
    margin: 20px;
   h4,h2{
    margin: 14px;
   }
   
  }
}

}
